:host {
  display: block;
}

.container {
  width: 500px;
  margin: 10px auto;
}

.form-item {
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
}

.form-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-column > label,
.form-column > div {
  flex-basis: 150px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.form-column > input {
  flex-grow: 1;
  padding: 5px 10px;
  font-size: 20px;
}

.error-message {
  color: red;
  margin-left: 150px;
}

.form-action {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.form-action button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

button.save {
  background-color: #007bff;
  color: white;
}
